.card {
  background-color: white;
  width: 433px;
  min-height: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.category {
  font-size: 16px;
  color: #8d8d8dce;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
  line-height: 1.4;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #8d8d8dce;
  margin-bottom: 25px;
}

.footer {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: #8d8d8dce;
}
