body {
  background: linear-gradient(to bottom, #d7e8f7, #bcd2e8);
  font-family: "Lucida Grande", Arial, sans-serif;
  padding: 50px;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContainer {
  background: #f2f6fb;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #a7b9d4;
}

h1 {
  font-size: 22px;
  color: #2b4c7e;
  margin-bottom: 20px;
  text-shadow: 0px 1px 0px white;
}

input[type="text"] {
  width: 80%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #8faac8;
  background: linear-gradient(#ffffff, #e8f1fb);
  font-size: 16px;
  outline: none;
  box-shadow: inset 0px 1px 3px rgba(109, 163, 230, 0.8);
  transition: 0.2s;
  margin-top: 20px;
}

input[type="text"]:focus {
  border-color: #6da3e6;
  box-shadow: 0px 0px 5px rgba(109, 163, 230, 0.8);
}

button {
  padding: 10px 20px;
}

.valueBox {
  margin-top: 25px;
  padding: 15px;
  background: #ffffffbb;
  border-radius: 10px;
  border: 1px solid #b5c9dd;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.valueBox p {
  font-size: 16px;
  margin: 5px 0;
  color: #2b4c7e;
}

.footer {
  margin-top: 40px;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  color: #3b4b66;

  background: linear-gradient(to bottom, #e9f2fb, #d2e2f3);
  border-top: 1px solid #c6d4e5;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08) inset;

  border-radius: 12px 12px 0 0;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
