.card {
  background: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: grey;
  align-items: center;
}
