.scale {
  opacity: 1;
  transform: scale(1);
  text-align: center;
}

.scaleHidden {
  opacity: 0;
  transform: scale(0.8);
}

.wrapper {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  background: rgb(218, 218, 218);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #4c87ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 16px;
}

.btn:hover {
  background: #3668d8;
}
