.postForm {
  background-color: rgb(82, 196, 227);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  max-width: 350px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0a0a3a;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  outline: none;
}

label {
  font-weight: 600;
  color: #222;
}

.btn {
  align-self: flex-end;
  background-color: #4c8bf5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #356bd8;
}
