.singleArticle {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.singleArticle h1 {
  margin-bottom: 15px;
}

.singleArticle p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.singleArticle button {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background-color: #36baf7;
  color: white;
  cursor: pointer;
}

.singleArticle button:hover {
  background-color: #1fa3e8;
}
