.categories {
  background-color: #e4f2ff;
  padding: 80px 100px;
}

.categories h2 {
  font-size: 28px;
  font-weight: 700;
  color: black;
  margin-bottom: 43px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 92px;
}
