.card {
  background-color: rgb(206, 227, 148);
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 30vw;
  text-align: center;
  margin: 50px auto;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: translateY(-3px);
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: rgb(52, 51, 51);
  margin-bottom: 15px;
}

.email,
.phone {
  font-size: 15px;
  color: #444;
  margin: 8px 0;
}
.button {
  background-color: rgb(106, 206, 228);
  border: none;
  border-radius: 25px;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: white;
  color: rgb(106, 206, 228);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  border: 6px solid grey;
  border-top: 6px solid rgb(47, 255, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
